html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.info {
    width: 80vh;
    font-size: 1.2rem;
    margin: 8px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-group {
    width: 80vh;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.container {
    margin: 24px auto;
    display: flex;
    flex-flow: wrap;
    width: 80vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    border: 0.01em solid black;
}

.options {
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px gray;
    background-color: whitesmoke;
    color: black;
}

.color-selector {
    padding: 0 5px;
}