html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

.container {
    margin: 10px auto;
    display: flex;
    flex-flow: wrap;
    width: 80vw;
    height: 80vw;
    align-items: center;
    justify-content: center;
    border: 0.1em solid black;
}

div > div {
    border: 0.1em solid black;
    width: 6.25%;
    height: 6.25%;
}