html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

.container {
    margin: 24px auto;
    display: flex;
    flex-flow: wrap;
    width: 80vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    border: 0.01em solid black;
}

.canvas-size {
    display: block;
    margin: 10px auto 0 auto;
    padding: 8px 12px;
    border-radius: 10px;
    box-shadow: 3px 3px gray;
}